############################
# Node.js
############################
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# Environment files
############################
.env
.env.local
.env.production

############################
# OS / Editor files
############################
.DS_Store
Thumbs.db
.vscode/
.idea/

############################
# Logs
############################
logs/
*.log

############################
# Build output
############################
dist/
build/

############################
# Coverage
############################
coverage/
.nyc_output/

############################
# Hyperledger Fabric (safety)
############################
organizations/
wallet/
channel-artifacts/
bin/
*.pem
*.crt
*.key
